* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  box-sizing: border-box;
}
html{
  overflow: hidden;
}
html,
body {
  
  margin: 0;
  padding: 0;

}

body {
  background-color: black;
  overflow: hidden;

}

nav {
  width: 100%;
  margin: 10px;
  height: 30px;
  padding-left: 10px;
  padding-right: 30px;
}

nav.right {
  width: 100px;
}

nav .left {
  gap: 20px;
  color: #b3b3b3;
}

.para {
  font-size: 10px;
}

.colour1 {
  background-color: #1f1f1f;
  width: 35px;
  height: 35px;
  border: 1px;
  border-radius: 16px;
}

.colour2 {
  background-color: #1f1f1f;
  gap: 6px;
  height: 35px;
  padding: 6px;
  border: 2px;
  border-radius: 16px;
}

.colour2 input {
  background: none;
  width: 200px;
  border: none;

}

.colour2 input::placeholder {
  color: #b3b3b3;
}

.login {
  background-color: white;
  color: black;
  border: 1px;
  border-radius: 15px;
  width: 7em;
  height: 3em;
  font-size: 10px;
}

.arrow {
  gap: 0.5vw;
  font-size: 10px;
}

main {

  margin: 1vw;

}

main .right .head {

  padding: 10px;

}

main .right {
 width: 25%;
  height: calc(100vh - 63px);
  background-color: #121212;
  display: flex;
  flex-direction: column;
  padding-top: 1vw;
  margin: 5px;
 
  

}

.scroll {
  flex: 1;
  overflow-y: auto;
  padding-right: 10px;

}

.ulfooter {

  display: flex;
  flex-wrap: wrap;
  background-color: #121212;
  font-size: 8px;
  gap: 15px;
  padding: 20px 10px;
  padding-bottom: 40px;
}

.scroll::-webkit-scrollbar {
  width: 10px;
  /* Scrollbar width */
}

.scroll::-webkit-scrollbar-track {
  background: rgb(91, 88, 88);
  /* Track background */
}

.scroll::-webkit-scrollbar-thumb {
  background-color: rgb(127, 124, 124);
  /* Scroll thumb color */
  border-radius: 18px;
}


main .left {
  width: 75%;
  margin: 5px;
  height: calc(100vh - 63px);
  background-color: #121212;
  padding-top: 2vw;

  display: flex;
  flex-direction: column; 
  
}


.playlist1 {
  padding-left: 2vw;
}



.spotifyPlaylist .card {
  padding-top: 15px;
  width: 22vw;
  display: flex;
  
  flex-direction: column;
  gap: 10px;
  position: relative;
  margin: 2px;
  padding: 10px;



}



.card img {

  border: 2px;
  border-radius: 6px;

}

.card p {

  font-size: 11px;
  color: grey;
}

.spotifyPlaylist {
  display: flex ;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: auto;

}


.splaylist{
  overflow: auto;
  height: calc(100vh - 1000px);  /* Adjust kiya for playbtn height */
  padding-bottom: 120px; 
  flex: 1;
  position: relative;
}

.hide-scrollbar {
  overflow: auto;
  /* Scroll allowed */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer/Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.play {
  width: 38px;
  height: 38px;
  background-color: #1fdf64;
  border-radius: 50%;
  border: 2px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100px;
  right: 14px;
  opacity: 0;

}

.card:hover {
  background-color: #1f1f1f;

  .play {
    transition: all 0.2s ease-out;
    opacity: 1;
    top: 180px;
  }
}

.playbtn {
  background-color: rgb(42, 39, 39);
  width: 100%;

  align-items: center;
  height: auto;
  opacity: 0;
  
 
  position: relative;
}

.playbtn.active {
  transition: all 1s ease-in-out;
  bottom: 20px;
  /* moves it up */
  opacity: 1;
}

.playbtn .songs {
  display: flex;
  justify-content: space-between;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;



}

.songInfo {
  color: white;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}

.songdur {
  display: flex;
  gap: 30px;
  width: 240px;
  align-items: center;

}

input[type="range"] {
  width: 70px;

}

.songBtn {
  width: 90px;
  filter: invert(1);
}

.seekbar {
  width: 100%;
  position: relative;
  top: 0;
  margin: 4px;
  border: 2px solid;
  align-items: center;
  display: flex;
  cursor: pointer;
  margin-left: 0;
}

.circle {
  position: absolute;
  border: 2px solid white;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background-color: white;
  left: 0%;
}

.lists
.songList ul {

  padding-top: 10px;
  font-size: 5px;
  gap: 40px;
}
.info{
  white-space: nowrap;      /* line break mat karo */
  overflow: hidden;         /* box ke bahar ka text hide karo */
  text-overflow: ellipsis;  /* ... show karo */
  display: block;           /* inline element par bhi kaam kare */
  max-width: 100%;
}

.songList ul li {
  border: 2px solid grey;
  color: grey;
  padding: 10px;
  margin: 6px;
  gap: 20px;
  justify-content: space-between;
  display: flex;
  list-style-type: none;
  align-items: center;
  padding-right: 8px;
  font-size: 10px;

}

.songList ul li:hover {
  background-color: #2d2c2c;
}

.musicsvg {
  filter: invert(1);
}

.playsongsvg {
  filter: invert(1);
}

.playNow {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.infoo {
  display: none;
}

.hamburger {
  filter: invert(1);
  display: none;
}

.cross {
  filter: invert(1);
  display: none;
}

nav .right .logo2 {
  display: none;
}

@media (max-width: 1100px) {
  .slide {
    left: -100%;
    position: absolute;
    transition: all 0.3s;
    z-index: 1000;

  }

  main .left {
    margin-right: 4px;
    width: 95vw;
    height: calc(100vh - 40px);

  }

  main .right {
    width: 50%;
    height: calc(100vh - 60px);
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .cross {
    display: block;
    cursor: pointer;
  }

  nav .left .para {
    display: none;
  }

  nav .left .arrow {
    display: none;
  }

  nav .right .logo2 {
    display: block;
  }

  nav .right .logo {
    display: none;
  }

  nav {
    padding-right: 2vw;
    padding-left: 0vw;
  }

}

@media (max-width: 700px) {
  .playbtn .songs {
    height: auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .playbtn .songs * {
    width: auto;
  }

  main .left {
    margin-right: 4px;
    width: 95vw;
    height: calc(100vh - 44px);

  }

  main .right {
    width: 65%;
    height: calc(100vh - 45px);
  }

  .colour2 input {
    display: none;
  }

}

@media (max-width: 500px) {
  html{
    overflow: hidden;
  }
  body{
    overflow: hidden;
  }
  nav{
    width: 95vw;
    gap: 10px;
    padding: 0px;
  }
  main{
    width: 100vw;
  }
  main .left {
    margin-right: 4px;
    width: 100vw;
    height: calc(100vh - 53px);

  }

  main .right {
    width: 65%;
    height: calc(100vh - 63px);
  }
}

@media (max-width: 350px) {
  main .right {
    width: 65%;
  }
}
