.dis{
    display: flex;
}
.jus{
    justify-content: center;
}
.align{
    align-items: center;
}
.mar{
    margin: 0px;
}
.pad{
    padding: 0px;
}
.gap{
    gap: 1vw;
}
.jus2{
    justify-content: space-between;
}
.border{
    border: 2px solid black;
}
.invert{
    filter: invert(1);
}

